<!DOCTYPE html>
<head>
	<title>NEW YORK CITY</title>
</head><h1>NEW YORK CITY</h1>
<body>
	<p>New York is the most populous city in the United States and the center of one of the most populous urban agglomerations in the world—the New York metropolitan area.[6] The city is referred to as New York City or the City of New York to distinguish it from the State of New York, of which it is a part. A global power city,[7] New York exerts a significant impact upon commerce, finance, media, art, fashion, research, technology, education, and entertainment. The home of the United Nations Headquarters,[8] New York is an important center for international diplomacy[9] and has been described as the cultural and financial capital of the world.[10][11][12][13]

On one of the world's largest natural harbors,[14] New York City consists of five boroughs, each of which is a county of New York State.[15] The five boroughs—the Bronx, Brooklyn, Manhattan, Queens, and Staten Island—were consolidated into a single city in 1898.[16] With a census-estimated 2013 population of 8,405,837[4] distributed over a land area of just 305 square miles (790 km2),[17] New York is the most densely populated major city in the United States.[18] As many as 800 languages are spoken in New York,[19][20] making it the most linguistically diverse city in the world.[21] By 2013 census estimates, the New York Metropolitan Area's population remains by a significant margin the United States' largest Metropolitan Statistical Area, with approximately 19.9 million people,[22] and is also part of the most populous Combined Statistical Area in the United States, containing an estimated 23.4 million people.[23]

New York traces its roots to its 1624 founding as a trading post by colonists of the Dutch Republic and was named New Amsterdam in 1626.[24] The city and its surroundings came under English control in 1664[24][25][26] New York served as the capital of the United States from 1785 until 1790.[27] It has been the country's largest city since 1790.[28] The Statue of Liberty greeted millions of immigrants as they came to America by ship in the late 19th and early 20th centuries[29] and is a globally recognized symbol of the United States and its democracy.[30]

Many districts and landmarks in New York City have become well known to its approximately 55 million annual visitors.[31] Several sources have ranked New York the most photographed city in the world.[32][33][34] Times Square, iconified as "The Crossroads of the World",[35] is the brightly illuminated hub of the Broadway Theater District,[36] one of the world's busiest pedestrian intersections,[37][38] and a major center of the world's entertainment industry.[39] The names of many of the city's bridges, skyscrapers,[40] and parks are known around the world. New York City's financial district, anchored by Wall Street in Lower Manhattan, has been called the world's leading financial center[41][42][43] and is home to the New York Stock Exchange, the world's largest stock exchange by total market capitalization of its listed companies.[44] Manhattan's real estate market is among the most expensive in the world.[45] Manhattan's Chinatown incorporates the highest concentration of Chinese people in the Western Hemisphere,[46][47] with several signature Chinatowns developing across the city.[48][49] Providing continuous 24/7 service,[50] the New York City Subway is one of the most extensive metro systems worldwide, with 468 stations in operation.[51][52][53][54] Numerous colleges and universities are located in New York,[55] including Columbia University, New York University, and Rockefeller University, which have been ranked among the top 35 in the world.[56]</p>
<p>Contents<br>
	<ol>
		<li>History</li>
			<ol>
				<li>Early history</li>
				<li>Modern history</li>
			</ol>
		<li>Geography</li>
	</ol>
1 History
	1.1 Early history
	1.2 Modern history
2 Geography
2.1 Cityscape
2.1.1 Architecture
2.2 Boroughs
2.3 Climate
3 Demographics
4 Economy
4.1 Wall Street
5 Culture and contemporary life
5.1 Performing arts
5.2 Tourism
5.3 Cuisine
5.4 Accent
6 Sports
7 Parks
7.1 National Park System units within city limits
7.2 New York State Parks
7.3 New York City Department of Parks and Recreation
8 Law and government
8.1 Environmental issues
8.2 Crime
9 Education
10 Media and entertainment
11 Transportation
12 Notable people
13 Military
14 Global outreach
14.1 Historic sister cities
14.2 New York City Global Partners network
15 See also
16 Notes
17 References
18 Further reading
19 External links</p>

</body>
</html>