#container {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	min-height: 100%; /* This makes the background clip be as long as the whole text in the container */
	margin: 100px;
	padding: 25px;
	position: absolute;
	size: 100%;
	text-align: justify;
	max-width: 100%; /* Adjusts text to size of screen */
	color: #C0C0C0;
	background: black;
	background-clip: border-box;
}

body {
 margin: 0;
 padding: 0;
 background-image: url("nyc_pano.jpg");
 background-attachment: fixed;
 background-size: 100%;
 background-repeat:no-repeat;
 display: compact;
 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-align: justify;
 padding-top: 200px;
 height: 100%;
}

#prlx_1{
	position: fixed;
	background: url("http://3.bp.blogspot.com/-nli22uuTql8/TVwk9-op3lI/AAAAAAAAACQ/DbDBiZPEzH8/s350/i-love-ny.jpg") no-repeat 0px 350px;
	width: 100%;
	height: 1200px;
	background-size: 5%;
}

#prlx_2{
	position: fixed;
	background: url("us_flag.jpg") no-repeat 0px 600px;
	width: 100%;
	height: 1200px;
	background-size: 100%;
	opacity: 0.3;
}

h1 {
	text-align: center;
}

#NYC {
	font-size: 60px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}


a:link, a:hover, a:visited, a:active{
	color: #808080;
}

a:link ,a:hover ,a:visited ,a:active{
	color: #808080;
}

<<<<<<< HEAD
=======
#map_container {
	height: 30%;
}
>>>>>>> first_branch
